body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Para evitar desbordamientos horizontales */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
}

.content {
  margin-left: 260px; /* Mantener el margen para el sidebar más ancho */
  padding-top: calc(60px + 40px); /* Reducir el espacio para el Navbar */
  background-color: rgb(146, 21, 21); /* Fondo rojo */  
  width: calc(100% - 280px - 0px); /* Ancho restante después del sidebar y el margen a la derecha */
  min-height: calc(100vh - 110px); /* Altura total de la pantalla menos el espacio para el navbar y footer */
  padding: 20px; /* Espaciado interno */
  box-sizing: border-box; /* Asegura que el padding no afecte el cálculo del ancho */
  margin-top: 80px; /* Opcional: un poco de margen superior para separar del borde del navbar */
}

footer {
  margin-top: auto;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0; /* Elimina margen del sidebar */
    width: 100%; /* Ocupa todo el ancho */
  }
}