.footer {
  padding: 10px;  /* Reducido de 20px */
  background-color: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  z-index: 900;
  height: 40px;  /* Altura fija para hacerlo más delgado */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cuando el usuario está autenticado */
.App.authenticated .footer {
  margin:  20px 20px 20px 240px;  /* Margen igual en todos los lados */
  border-radius: 8px;
}

/* Cuando el usuario no está autenticado */
.App:not(.authenticated) .footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .App.authenticated .footer {
    margin: 10px;
  }
}